:root{
    --blue: #023e7d;
    --lightblue: #ADE8F4;
}
*{
    padding: 0%;
    margin: 0%;
}
body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(201,19,225,1) 100%);
}
.icon-text>h1{
    color: rgb(9, 9, 121);
    font-size: xx-large;
}
nav{
    background-color: var(--lightblue);
    color: black;
    display: flex;
    justify-content: space-between;
    height: 7vh;
}
input{
    background-color: rgb(197, 191, 191);
}
a{
    margin: 5px;
    color: black;
    text-decoration: none;
    font-size: x-large;
    margin-top: 15px;
}
.option,.icon-text{
    margin-top: 10px;
}
input{
    height: 7vh;
    width: 7vh;
    font-size: large;
    text-align: center;
}
input::-webkit-inner-spin-button, input ::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
  }
.top-box{
    color: white;
    width: 80vw;
    padding-left: 20vw;
    padding-top: 5vh;
}
h2{
    margin-left: 29%;
    text-decoration: underline;
}
.input-div{
    padding-top: 3vh;
    padding-left: 10vw;
    flex-wrap: wrap;
}
input{
    margin: 10px;
}
button{
    height: 5vh;
    width: 10vw;
    margin: 10px;
    font-size: large;
    margin-left: 44vw;
    margin-right: 46vw;
    transition: 0.5s;
}
button:hover{
    background: var(--lightblue);
}
.chart{
    width: 60vw;
    height: 40vh;
    margin-left: 28vw;
    margin-right: 0;
}
footer{
    position: absolute;
    width: 100vw;
    top: 84%;
    display: flex;
    justify-content: space-around;
    background-color: var(--lightblue);
    color: black;
    height: 16vh;
}
.foot1>p,.foot2>p{
    margin: 10px;
}
.loadingText
{
    position: absolute;
    top: 4%;
    left: 50%;
    font-size: 1.2em;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition: 0.25s;
}