*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: #ADE8F4;
}
nav{
    background-color: #ffddd2;
    color: black;
    display: flex;
    justify-content: space-between;
    height: 7vh;
}
a{
    margin: 5px;
    color: black;
    text-decoration: none;
    font-size: x-large;
    margin-top: 15px;
}
.option,.icon-text{
    margin-top: 10px;
}
input{
    height: 7vh;
    width: 7vh;
    font-size: large;
    text-align: center;
}
input::-webkit-inner-spin-button, input ::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
  }
.top-box{
    width: 80vw;
    padding-left: 20vw;
    padding-top: 5vh;
    background-color: #ADE8F4
}
h2{
    margin-left: 29%;
}
.input-div{
    padding-top: 3vh;
    padding-left: 10vw;
    flex-wrap: wrap;
}
input{
    margin: 10px;
}
.predict{
    height: 5vh;
    width: 10vw;
    margin: 10px;
    font-size: large;
    margin-left: 44vw;
    margin-right: 46vw;
}
.chart{
    width: 60vw;
    height: 40vh;
    margin-left: 28vw;
    margin-right: 0;
}
footer{
    position: absolute;
    width: 100vw;
    top: 80%;
    display: flex;
    justify-content: space-around;
    background-color: #ffddd2;
    color: black;
    height: 20vh;
}
.foot1>p,.foot2>p{
    margin: 10px;
}